<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0" metadata-complete="false">

        <display-name>xml形式web配置</display-name>

        <!-- context-param -->
        <context-param>
                <description>定义spring配置文件路径</description>
                <param-name>contextConfigLocation</param-name>
                <param-value>classpath:spring-config.xml</param-value>
        </context-param>
        <context-param>
                <description>定义log4j配置文件路径</description>
                <param-name>log4jConfigLoaction</param-name>
                <param-value>classpath:log4j.properties</param-value>
        </context-param>
        <context-param>
                <description>定义日志配置刷新频率（动态的设置log4j.properties配置不需要重启web服务</description>
                <param-name>log4jRefreshInterval</param-name>
                <param-value>60000</param-value>
        </context-param>
        <!-- <context-param> <description>根据环境自动切换配置</description> <param-name>spring.profiles.active</param-name> <param-value>development</param-value> </context-param> -->

        <!-- filter -->
        <!-- <filter> <description>shiro 安全过滤器</description> <filter-name>shiroFilter</filter-name> <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class> <async-supported>true</async-supported> 
                <init-param> <param-name>targetFilterLifecycle</param-name> <param-value>true</param-value> </init-param> </filter> <filter-mapping> <filter-name>shiroFilter</filter-name> <url-pattern>/*</url-pattern> 
                <dispatcher>REQUEST</dispatcher> </filter-mapping> -->
        <filter>
                <description>字符编码强制转换</description>
                <filter-name>encodingFilter</filter-name>
                <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
                <async-supported>true</async-supported>
                <init-param>
                        <description>字符集编码</description>
                        <param-name>encoding</param-name>
                        <param-value>UTF-8</param-value>
                </init-param>
                <init-param>
                        <param-name>forceEncoding</param-name>
                        <param-value>true</param-value>
                </init-param>
        </filter>
        <filter-mapping>
                <filter-name>encodingFilter</filter-name>
                <url-pattern>/*</url-pattern>
        </filter-mapping>
        <!-- <filter> <description>JPA延迟加载处理</description> <filter-name>OpenEntityManagerInViewFilter</filter-name> <filter-class>org.springframework.orm.jpa.OpenEntityManagerInViewFilter</filter-class> 
                </filter> <filter-mapping> <filter-name>OpenEntityManagerInViewFilter</filter-name> <url-pattern>/*</url-pattern> </filter-mapping> -->


        <!-- listener -->
        <listener>
                <description>spring监听器</description>
                <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
        </listener>
        <listener>
                <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
        </listener>
        <listener>
                <description>log4j监听器</description>
                <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
        </listener>
        <listener>
                <description>spring防止内存溢出监听器</description>
                <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
        </listener>

        <!-- servlet -->
        <servlet>
                <description>springMVC控制器</description>
                <servlet-name>springMVC</servlet-name>
                <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
                <init-param>
                        <description>spring mvc 配置文件</description>
                        <param-name>contextConfigLocation</param-name>
                        <param-value>classpath:spring-mvc.xml</param-value>
                </init-param>
                <load-on-startup>1</load-on-startup>
                <async-supported>true</async-supported>
        </servlet>
        <servlet-mapping>
                <servlet-name>springMVC</servlet-name>
                <url-pattern>/</url-pattern>
        </servlet-mapping>


        <!-- Druid,监控数据库,以及WEB访问连接信息 -->
        <!-- 参考: https://github.com/alibaba/druid/wiki/%E9%85%8D%E7%BD%AE_%E9%85%8D%E7%BD%AEWebStatFilter -->
        <filter>
                <filter-name>DruidWebStatFilter</filter-name>
                <filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
                <init-param>
                        <param-name>exclusions</param-name>
                        <param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,*.jsp,/druid/*,/download/*</param-value>
                </init-param>
                <init-param>
                        <param-name>sessionStatMaxCount</param-name>
                        <param-value>2000</param-value>
                </init-param>
                <init-param>
                        <param-name>sessionStatEnable</param-name>
                        <param-value>true</param-value>
                </init-param>
                <init-param>
                        <param-name>principalSessionName</param-name>
                        <param-value>session_user_key</param-value>
                </init-param>
                <init-param>
                        <param-name>profileEnable</param-name>
                        <param-value>true</param-value>
                </init-param>
        </filter>
        <filter-mapping>
                <filter-name>DruidWebStatFilter</filter-name>
                <url-pattern>/*</url-pattern>
        </filter-mapping>
        <!-- 配置 Druid 监控信息显示页面 -->
        <servlet>
                <servlet-name>DruidStatView</servlet-name>
                <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
                <!-- 允许清空统计数据 -->
                <init-param>
                        <param-name>resetEnable</param-name>
                        <param-value>true</param-value>
                </init-param>
                <!-- 用户名 -->
                <init-param>
                        <param-name>loginUsername</param-name>
                        <param-value>singno</param-value>
                </init-param>
                <!-- 密码 -->
                <init-param>
                        <param-name>loginPassword</param-name>
                        <param-value>1314ainana</param-value>
                </init-param>
                <!-- 允许访问的IP -->
                <init-param>
                        <param-name>allow</param-name>
                        <param-value>192.168.1.5</param-value>
                </init-param>
                <!-- ？ -->
                <init-param>
                        <param-name>deny</param-name>
                        <param-value>192.168.1.5</param-value>
                </init-param>
        </servlet>
        <servlet-mapping>
                <servlet-name>DruidStatView</servlet-name>
                <url-pattern>/druid/*</url-pattern>
        </servlet-mapping>



        <!-- welcome-file -->
        <welcome-file-list>
                <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
        <!-- error-page -->
        <!-- 请求需要验证用户登录 -->
        <error-page>
                <error-code>401</error-code>
                <location>/error/401.jsp</location>
        </error-page>
        <!-- 请求资源不存在 -->
        <error-page>
                <error-code>404</error-code>
                <location>/error/404.jsp</location>
        </error-page>
        <!-- 系统异常 -->
        <error-page>
                <error-code>500</error-code>
                <location>/error/500.jsp</location>
        </error-page>


        <!-- 所有jsp页面指令去除空行 -->
        <jsp-config>
                <jsp-property-group>
                        <url-pattern>*.jsp</url-pattern>
                        <trim-directive-whitespaces>true</trim-directive-whitespaces>
                </jsp-property-group>
        </jsp-config>
</web-app>