@charset "UTF-8";
/* CSS Document */
a,img,button,dd,dl,dt,div,span,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0);outline:none;}
html,body{padding:0; margin:0;}
body{line-height:1.6;font-family:"Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","微软雅黑","黑体",Arial,sans-serif;color:#232323;font-size:14px;background:url(../../images/jfb/hongbao2/bg3.jpg) repeat-y; }
button, input[type=button], input[type=reset], input[type=submit] {cursor: pointer; -webkit-appearance: button; -moz-appearance: button; }
a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0);}
p{ padding:0; margin:0;}
li{ list-style:none;}
input{ border:0; padding:0; margin:0; font-size:14px;outline:none;}

.bg1{ float:left; background:url(../../images/jfb/hongbao2/bg1.jpg) no-repeat; width:100%; background-size:cover;} .word_logo{ width:47%; margin:0 auto;}
.word_logo img{ float:left; width:100%;}
.mt62{ margin-top:62px !important;}
.bg1 .bg2{ float:left; width:80%; margin-left:10%; background:url(../../images/jfb/hongbao2/bg2.png) no-repeat; background-size:cover; margin-top:20px;}
.bg1 .bg2 .name{ color:#cb8e4d; float:left; width:70%; padding:20px 15% 8px;}
.bg1 .bg2 .name .title{ float:left; width:100%;}
.bg1 .bg2 .name .yhq_name{ float:left; width:100%; font-size:20px;}
.bg1 .bg2 .input{float:left; width:70%; margin:0px 15%; background-color:#ededed; border:1px solid #d5d5d5; height:29px; line-height:29px; border-radius:2px;}
.bg1 .bg2 .input .input_tel{ background:none; height:20px; line-height:20px; margin-top:4px; width:90%; padding:0 5%;}
.bg1 .bg2 .button{ float:left; width:100%; height:180px; margin-bottom:20px; position:relative;}
.bg1 .bg2 .button .input_sub{ position:absolute; height:86px; z-index:999; width:86px; left:33%; top:29px; text-indent:-9999px; background:none;}

.tanceng{ position:fixed; top:0; left:0; right:0; bottom:0; width:100%; z-index:30;}
.tanceng .black{position:fixed; filter:alpha(opacity=50); width:100%; height:100%; background-color:#000; opacity:0.5; z-index:50;}
.tanceng .tc{ position:absolute; width:50%; margin:0 25%; top:30%; left:0; z-index:51;}
.tanceng .tc img{ float:left; width:100%;}

.bg1 .bg_img{ background:url(../../images/jfb/hongbao2/bg4.png) no-repeat bottom center; width:100%; float:left; background-size:80%; padding-bottom:30px;}
.bg1 .bg_img .bg3{ background-color:#fffef1; width:60%; padding:4%; margin-left:16%; margin-bottom:10px; -webkit-box-shadow:0 3px 7px rgba(35, 24, 21, .3);  -moz-box-shadow:0 3px 7px rgba(35, 24, 21, .3);  box-shadow:0 3px 7px rgba(35, 24, 21, .3); float:left;}
.bg1 .bg3 .name{ color:#cb8e4d; float:left; width:100%; font-size:16px;}
.bg1 .bg3 .yhq_price{ float:left; width:100%; text-align:center; color:#e11200; font-size:16px;}
.bg1 .bg3 .yhq_price b{ display:inline-block; font-size:48px; padding-left:4px;}
.bg1 .bg3 .zh{ font-size:12px; color:#ff4b38; float:left; width:100%;}
.bg1 .bg3 .zh span{ padding:0 6px;}
.bg1 .bg3 .button{ float:left;  width:60%; margin:20px 0 10px 20%;}
.bg1 .bg3 .button .input_btn{ float:left; height:32px; line-height:32px; width:100%; background:#ff4b38; color:#fff; text-align:center; border-radius:7px;}
.bg3 .yhq{ width:88%; float:left; margin-left:6%; margin-top:10px; height:65px; overflow:hidden; background-color:#ffefc1; position:relative;}
.bg3 .yhq .bg_left{ background:url(../../images/jfb/hongbao2/bg_left.png) no-repeat; background-size:11px; position:absolute; left:0; top:0; height:65px; width:10px;}
.bg3 .yhq .bg_right{ background:url(../../images/jfb/hongbao2/bg_right.png) no-repeat; background-size:11px; position:absolute; right:0; top:0; height:65px; width:10px;}
.bg3 .yhq .bg_center{ position:relative; background:none; z-index:2;}
.bg3 .yhq .bg_center .l{ width:32%; margin:14px 0px; border-right:1px solid #ff4b38; height:37px; line-height:37px; color:#ff4b38; text-align:center; font-size:22px; float:left;}
.bg3 .yhq .bg_center .r{ width:66%; float:left; color:#ff4b38; font-size:12px;}
.bg_center .yhqname{ margin-top:16px; font-size:14px; line-height:16px; padding-left:5%; width:95%; float:left;}
.bg_center .time{padding-left:5%; width:95%; float:left;}

.guize{ float:left; width:100%; background-color:#fffef1; color:#e11200; padding:10px 0px; font-size:12px;}
.guize h3{ padding:0; margin:0; width:90%; padding:0 5%;}
.guize p{ padding:0; margin:0; line-height:16px; padding:0 5%;}
.mtb20px{ margin:20px 26%; float:left;}

@media screen and (min-width: 391px) and (max-width:440px){
	 .bg1 .bg2 .button .input_sub{ height: 113px; width: 113px; left: 33%; top:68px;}
}
@media screen and (min-width: 360px) and (max-width:390px){
.bg1 .bg2 .button .input_sub{height: 113px; width: 113px; left: 31%; top: 47px;}}