<html>
<head>
<meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="telephone=no" name="format-detection">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<!--[if lt IE 9]> 
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> 
<![endif]--> 
<title>购物车</title>
<link href="../css/common.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="top_bar">
	<div class="back"><div class="back_img">返回</div></div>
    <div class="c_word">购物车</div>
    <div class="r_word">删除</div>
</div>
<div class="content">
	<div class="card">
    	<div class="l"><div class="gx"><input type="checkbox" id="pr1" checked><label for="pr1"></label></div></div>
        <div class="img"><img src="../images/3.jpg"></div>
        <div class="r">
            <div class="name">【高鹏推荐】进口山竹 大果（4A-6A） 1kg</div>
            <div class="gg">1kg</div>
            <div class="price"><i>￥</i><b>48.00</b><em>56</em></div>
            
        </div>
        <div class="ad">
                <input type="button" class="del">
                <input type="text" class="text" value="5">
                <input type="button" class="add">
            </div>
    </div>
    <div class="card">
    	<div class="l"><div class="gx"><input type="checkbox" id="pr2" checked><label for="pr2"></label></div></div>
        <div class="img"><img src="../images/2.jpg"></div>
        <div class="r">
            <div class="name">八两阳光水果玉米【4根装】</div>
            <div class="gg">4根装</div>
            <div class="price"><i>￥</i><b>18.80</b><em></em></div>
            
        </div>
        <div class="ad">
                <input type="button" class="del">
                <input type="text" class="text" value="1">
                <input type="button" class="add">
            </div>
    </div>
    <div class="card">
    	<div class="l"><div class="gx"><input type="checkbox" id="pr3"><label for="pr3"></label></div></div>
        <div class="img"><img src="../images/1.jpg"></div>
        <div class="r">
            <div class="name">延安宜川红富士 12粒装（70-75mm）</div>
            <div class="gg">1箱</div>
            <div class="price"><i>￥</i><b>39.00</b><em>42</em></div>
            
        </div>
        <div class="ad">
                <input type="button" class="del">
                <input type="text" class="text" value="2">
                <input type="button" class="add">
            </div>
    </div>
    <div class="bottom_btn">
    	<div class="qx"><input type="checkbox" id="qx"><label for="qx">全选</label></div>
        <div class="price">
        	<div class="p">
            	<i>共</i>
                <b>¥258.8</b>
            </div>
            <div class="word">
            	<span class="op">满¥10起送</span>
                <span class="op1">满¥50免运费</span>
            </div>
        </div>
        <div class="btn">
        	<input value="立即购买" type="button" class="js_btn">
            <p>还差¥10起送</p>
        </div>
    </div>
</div>
<div class="fffff">&nbsp;</div>
<div class="tc_box" style="display:none">
	<div class="ts">
    	<div class="t_word">是否删除选中的商品？</div>
        <div class="t_btn">
        	<span class="half">取消</span>
            <span class="half wcol_red">确定</span>
        </div>
    </div>
	<div class="bg_back"></div>
</div>
</body>
</html>
