<html>
<head>
<meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="telephone=no" name="format-detection">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<!--[if lt IE 9]> 
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> 
<![endif]--> 
<title>购物车</title>
<link href="../css/common.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="top_bar">
	<div class="back"><div class="back_img">返回</div></div>
    <div class="c_word">购物车</div>
</div>
<div class="content">
	<div class="card_k">
    	<img src="../images/card_k.png">
        <div class="word">购物车未添加任何商品</div>
        <div class="wcol_red">赶紧去看看</div>
    </div>
</div>
</body>
</html>
