<html>

	<head>
		<meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta content="telephone=no" name="format-detection">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<!--[if lt IE 9]> 
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> 
<![endif]-->
		<title>确认收货位置-历史位置</title>
		<link href="../css/common.css" rel="stylesheet" type="text/css">
		<link href="../css/cnf_ad.css" rel="stylesheet" type="text/css">

	</head>

	<body style="background-color:#fff;">
		<div class="top_bar">
			<div class="back">
				<div class="back_img">返回</div>
			</div>
			<div class="c_word">确认收货位置</div>
			<div class="r_word">
				<div class="mine">&nbsp;</div>
			</div>
		</div>
		<div class="content">
			<div class="search">
				<div class="word">告诉小piu你想找的位置</div>
				<div class="search_box">
					<div class="l">
						<input type="text" placeholder="搜索位置" value="林肯公园">
						<div class="r">
							<input type="button" value="搜索">
						</div>
					</div>
				</div>
			</div>
			<div class="choose_wz">
				<div class="time">
					<div class="tt">【历史位置】</div>
					<div class="btn">
						<div class="bd">重新定位</div>
					</div>
					<div class="word first">
						<div class="icon"></div>
						<div class="adr">都会国际大厦</div>
						<div class="qy"><span>朝阳区十里堡</span></div>
					</div>
					<div class="word">
						<div class="icon"></div>
						<div class="adr">都会国际大厦</div>
						<div class="qy"><span>朝阳区十里堡</span></div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>