<html>
<head>
<meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="telephone=no" name="format-detection">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<!--[if lt IE 9]> 
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> 
<![endif]--> 
<title>订单确认</title>
<link href="../css/common.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="top_bar">
	<div class="back"><div class="back_img">返回</div></div>
    <div class="c_word">订单确认</div>
</div>
<div class="content">
	<!-- 第一次  class＝“addr first” -->
	<div class="addr">
    	<div class="none">&nbsp;</div>
        <div class="mr">
        	<div class="top_bg">&nbsp;</div>
            <div class="details">
                <div class="l">
                    <div class="name">某某某</div>
                    <div class="phone">13456785678</div>
                    <div class="adr"><span class="bq">家里</span>十里堡甲3号都会国际大厦5楼十里堡甲3号都会国际大厦5楼</div>
                </div>
                <div class="r"><div class="next"><div class="next_img">&nbsp;</div></div></div>
            </div>
        </div>
    </div>
    <div class="wb_line first_line">
    	<div class="l wcol_67">配送时间</div>
        <div class="r"><span class="right_w">尽快送达（1小时内）</span><em class="bjt"><div class="bjt_img">&nbsp;</div></em></div>
    </div>
    <div class="wb_line pay">
    	<div class="l wcol_67">支付方式</div>
        <div class="r">
        	<div class="radio"><input type="radio" id="wzf" name="pay" checked><label for="wzf">微支付</label></div>
            <div class="radio"><input type="radio" id="hdfk" name="pay"><label for="hdfk">货到付款</label></div>
        </div>
    </div>
    <div class="wb_line first_line">
    	<div class="l"><span class=" wcol_67">我的优惠劵</span><div class="bq">2张</div></div>
        <div class="r"><div class="wcol_red right_w">10元</div><div class="next"><div class="next_img">&nbsp;</div></div></div>
    </div>
    <div class="wb_line yi">
    	<div class="l">
        	<input type="text" placeholder="请输入手机号码" class="text">
        </div>
        <div class="r">
        	<input type="submit" value="验证" class="submit">
        </div>
    </div>
    <div class="wb_line1 first_line">
    	<div class="img"><img src="../images/pr.png"></div>
        <div class="word">
        	<div class="name">品客薯片 酸乳酪洋葱味</div>
            <div class="gg">71g/桶</div>
        </div>
        <div class="price">
        	<div class="wcol_red">￥14.8</div>
            <div class="nu">×2</div>
        </div>
    </div>
    <div class="wb_line1">
    	<div class="img"><img src="../images/pr.png"></div>
        <div class="word">
        	<div class="name">品客薯片 酸乳酪洋葱味</div>
            <div class="gg">71g/桶</div>
        </div>
        <div class="price">
        	<div class="wcol_red">￥14.8</div>
            <div class="nu">×2</div>
        </div>
    </div>
    <div class="wb_line1 hj">
    	<div class="l">
        	商品总计<br>优惠<br>配送费
        </div>
        <div class="r">
        	￥38.4<br>-￥10<br>￥5
        </div>
    </div>
    <div class="wb_line1 first_line">
    	<div class="h44 wcol_67">订单备注</div>
        <div class="h44">
        	<input type="text" placeholder="填写备注信息" class="text">
        </div>
    </div>
    <div class="wb_line first_line">
    	<div class="l wcol_67">发票信息</div>
        <div class="r"><div class="next"><div class="next_img">&nbsp;</div></div></div>
    </div>
    <div class="fffff">&nbsp;</div>
    <div class="bbtn">
    实付款：<span class="wcol_red">¥30.4</span>
    <input type="button" class="right_btn" value="提交订单"></div>
    </div>
</div>
<div class="tc_box">
	<div class="time_box">
    	<div class="w100">
        	<div class="l">选择配送时间</div>
            <div class="r wcol_red">关闭</div>
        </div>
       	<!-- 休息  class＝“time_list xx” -->
        <div class="time_list">
        	<div class="none">PiuPiu已经休息了，明天为您服务</div>
            <div class="list">
            	<div class="day">
                	<div class="wcol_red">今天</div>
                    <div class="">明天</div>
                </div>
                <div class="time_li">
                	<ul>
                    	<li class="on">尽快送达（1小时内）</li>
                        <li>9:00-10:00</li>
                        <li>9:00-10:00</li>
                        <li>9:00-10:00</li>
                        <li>9:00-10:00</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
	<div class="bg_back"></div>
</div>

</body>
</html>
