<html>
<head>
<meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="telephone=no" name="format-detection">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<!--[if lt IE 9]> 
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> 
<![endif]--> 
<title>商品详情</title>
<link href="../css/common.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="top_bar">
	<div class="back"><div class="back_img">返回</div></div>
    <div class="c_word">商品详情</div>
    
</div>
<div class="content">
	<div class="product">
    	<div class="img"><img src="../images/pr.png"></div>
        <div class="name">乐事薯片 意大利香浓红烩味</div>
        <div class="price">￥11.9</div>
        <div class="ad">
        	<input type="button" class="del">
            <input type="text" class="text" value="2">
            <input type="button" class="add">
        </div>
    </div>
    <div class="wb_line first_line">
    	<div class="l wcol_67">产品规格</div>
        <div class="l">186g/袋</div>
    </div>
    <div class="wb_line">
    	<div class="l wcol_67">保质天数</div>
        <div class="l">180天</div>
    </div>
    <div class="h44">也许您还需要</div>
    <div class="product_list">
    	<div class="pr_one">
        	<div class="img"><img src="../images/pr.png"></div>
            <div class="name">品客薯片酸乳酪洋葱味</div>
            <div class="price">￥11.8</div>
        </div>
        <div class="pr_two">
        	<div class="img"><img src="../images/pr.png"></div>
            <div class="name">品客薯片酸乳酪洋葱味</div>
            <div class="price">￥11.8</div>
        </div>
        <div class="pr_one">
        	<div class="img"><img src="../images/pr.png"></div>
            <div class="name">品客薯片酸乳酪洋葱味</div>
            <div class="price">￥11.8</div>
        </div>
        <div class="pr_two">
        	<div class="img"><img src="../images/pr.png"></div>
            <div class="name">品客薯片酸乳酪洋葱味</div>
            <div class="price">￥11.8</div>
        </div>
    </div>
</div>
</body>
</html>
