<html>
<head>
<meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="telephone=no" name="format-detection">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<!--[if lt IE 9]> 
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> 
<![endif]--> 
<title>手动定位</title>
<link href="../css/common.css" rel="stylesheet" type="text/css">
<link href="../css/cnf_ad.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="top_bar">
	<div class="back"><div class="back_img">返回</div></div>
    <div class="c_word">手动定位</div>
    <div class="r_word"><div class="mine">&nbsp;</div></div>
</div>
<div class="loading">
	<div class="search sc">
        <div class="search_box">
        	<div class="l">
            	<input type="text" placeholder="搜索位置" value="林肯公园">
                <div class="r"><input type="button" value="搜索"></div>
            </div>
        </div>
    </div>
    <div class="img">
    	<img src="../images/bq2.png">
        <p class="wcol_67">piupiu找不到您当前位置，请搜索<br>或手动定位告诉它

</p>

    </div>
    <div class="mt_line">
    piupiu曾经与您相遇的地点
    </div>
    <div class="wb_line">
    	<div class="l">
        <span class="bq">家里</span>十里堡甲3号都会国际大厦5楼十里堡甲3号都会国际大厦5楼	
        </div>
        <div class="r"><div class="next"><div class="next_img">&nbsp;</div></div></div>
    </div>
    <div class="wb_line">
    	<div class="l">
        <span class="bq">家里</span>十里堡甲3号都会国际大厦5楼十里堡甲3号都会国际大厦5楼	
        </div>
        <div class="r"><div class="next"><div class="next_img">&nbsp;</div></div></div>
    </div>
    <div class="bbtn">
    	<span class="dw"><em>重新定位当前位置</em></span>
    </div>
    <div class="fffff">&nbsp;</div>
	
</div>
</body>
</html>
