<html>
<head>
<meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="telephone=no" name="format-detection">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<!--[if lt IE 9]> 
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> 
<![endif]--> 
<title>红包</title>
<link href="../css/hongbao2.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="bg1">
	<div class="word_logo mt62"><img src="../images/hongbao2/word_logo.png"></div>
    <div class="bg6">
    	<div class="name1">
        	您已是本来便利的注册用户<br>
            无法领取优惠券<br> 请关注本来便利的其他活动哦~
        </div>
        <div class="input">
        	<input type="button" class="input_tel_btn" value="立即使用">
        </div>
        <div class="button">
        	
        </div>
    </div>
</div>

</body>
</html>
