<html>
<head>
<meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="telephone=no" name="format-detection">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<!--[if lt IE 9]> 
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> 
<![endif]--> 
<title>聚方便</title>
<link href="../css/common.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="top_bar">
    <div class="c_word"><span><em>&nbsp;</em>都会国际大厦</span></div>
    <div class="r_word"><div class="mine">&nbsp;</div></div>
</div>
<div class="content">
	<div class="left">
    	<div class="lt_img_bg">&nbsp;</div>
    	<dl>
        	<dt class="jufangbian">聚方便</dt>
        </dl>
        <dl class="open">
            <dt class="benlaishengxian">本来生鲜<i></i></dt>
            <div class="dl_box">
            <div class="dd_top">&nbsp;</div>
            <dd class="wcol_red"><em></em>饮料</dd>
            <dd><em></em>生鲜</dd>
            <dd><em></em>奶制品</dd>
            <dd><em></em>母婴</dd>
            <dd><em></em>粮油副食</dd>
            <dd><em></em>休闲食品</dd>
            <dd><em></em>进口食品</dd>
            <div class="dd_bottom">&nbsp;</div>
            </div>
        </dl>
        <dl class="close" style="background:none;">
        	<dt class="tehuijingxuan">特惠精选<i></i></dt>
            <div class="dl_box">
            <div class="dd_top">&nbsp;</div>
            <dd><em></em>饮料</dd>
            <dd><em></em>饮料</dd>
            <dd><em></em>饮料</dd>
            <dd><em></em>饮料</dd>
            <dd><em></em>饮料</dd>
            <dd><em></em>商品分类</dd>
            <div class="dd_bottom">&nbsp;</div>
            </div>
        </dl>
        <div class="lb_img_bg">&nbsp;</div>
    </div>
    <div class="right">
    	<div class="banner"><img src="../images/guanggao.png"></div>
        <div class="p_one_box">
        	<div class="img"><img src="../images/1.jpg"></div>
            <div class="name">延安宜川红富士 12粒装（70-75mm）</div>
            <div class="gg">1箱</div>
            <div class="price">￥39.00</div>
            <div class="ad">
            	<input type="button" class="del" style="display:none">
                <input type="text" class="text" >
                <input type="button" class="add">
            </div>
        </div>
        <div class="p_one_box">
        	<div class="img"><img src="../images/2.jpg"></div>
            <div class="name">八两阳光水果玉米【4根装】</div>
            <div class="gg">4根装</div>
            <div class="price">￥18.80</div>
            <div class="ad">
            	<input type="button" class="del">
                <input type="text" class="text" value="2">
                <input type="button" class="add">
            </div>
        </div>
        <div class="p_one_box">
        	<div class="img"><img src="../images/3.jpg"></div>
            <div class="name">【高鹏推荐】进口山竹 大果（4A-6A） 1kg</div>
            <div class="gg">1kg</div>
            <div class="price">￥48.00</div>
            <div class="ad">
            	<input type="button" class="del">
                <input type="text" class="text" value="2">
                <input type="button" class="add">
            </div>
        </div>
        <div class="p_one_box">
        	<div class="img"><img src="../images/4.jpg"></div>
            <div class="name">泰国进口龙眼 特级 1kg</div>
            <div class="gg">1kg</div>
            <div class="price">￥25.80</div>
            <div class="ad">
            	<input type="button" class="del" style="display:none">
                <input type="text" class="text" >
                <input type="button" class="add">
            </div>
        </div>
        <div class="p_one_box">
        	<div class="img"><img src="../images/5.jpg"></div>
            <div class="name">进口牛油果 4粒</div>
            <div class="gg">4粒/440-520g</div>
            <div class="price">￥33.80</div>
            <div class="ad">
            	<input type="button" class="del" style="display:none">
                <input type="text" class="text" >
                <input type="button" class="add">
            </div>
        </div>
    </div>
    
</div>
<div class="fffff"></div>
<!-- 购物车为空是  加class kong   满足第一个条件时  为 ts1  全满足则不加任何东西-->
<div class="bottom_btn">
        <div class="card_no"><em>4</em></div>
        <div class="price">
        	<div class="p">
            	<i>共</i>
                <b>¥133.6</b>
            </div>
            <div class="x">购物车是空的</div>
            <div class="word">
            	<span class="op">满¥10起送</span>
                <span class="op1">满¥50免运费</span>
            </div>
        </div>
        <div class="btn">
        	<input value="立即购买" type="button" class="js_btn">
            <p>还差¥10起送</p>
        </div>
    </div>

</body>
</html>
