<html>
<head>
<meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="telephone=no" name="format-detection">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<!--[if lt IE 9]> 
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> 
<![endif]--> 
<title>聚方便</title>
<link href="../images/loading/loading.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="bg_red">
	<div class="xian"></div>
	<div class="jg hd"></div>
	<div class="xx"></div>
    <div class="xr">
        <div class="cr"></div>
        <div class="dp"><img src="../images/loading/dp.png"></div>
        <div class="dh j1"><img src="../images/loading/j.png"></div>
        <div class="dh j2"><img src="../images/loading/j.png"></div>
    </div>
    
    <div class="word"><img src="../images/loading/logo@2x.png"></div>
    <div class="wz">定位中...</div>
    <div class="zb td"><img src="../images/loading/dw.png"></div>
    <div class="diqiu xz"></div>
</div>
</body>
</html>
