<html>
<head>
<meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="telephone=no" name="format-detection">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<!--[if lt IE 9]> 
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> 
<![endif]--> 
<title>墨迹天气八喜红包</title>
<link href="../css/hongbao3.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="bg1">
	
    <div class="bg4 bg5">
    	<div class="name">
        	您已是本来便利的注册用户， 无法领取优惠券， 请关注本来便利的其他活动哦~  
        </div>
        <div class="button">
        	<input type="button" class="input_sub" value="立即使用">
        </div>
        <div class="word">配送区域：北京市五环内以及石景山、上地、回龙观、天通苑、北苑、东坝、管庄、通州、亦庄。</div>
    </div>
    
    <div class="word_logo mtb20px"><img src="../images/hongbao3/word_logo.png"></div>
</div>
</body>
</html>
