<html>

	<head>
		<meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta content="telephone=no" name="format-detection">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<!--[if lt IE 9]> 
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> 
<![endif]-->
		<title>收货地址</title>
		<link href="../css/common.css" rel="stylesheet" type="text/css">
		<link href="../css/my.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		<div class="top_bar">
			<div class="back">
				<div class="back_img">返回</div>
			</div>
			<div class="c_word">收货地址</div>
			<div class="r_word">新增</div>
		</div>
		<div class="content">
			<div class="mr ord_d">
				<div class="details">
					<div class="l">
						<div class="name">某某某</div>
						<div class="phone">13456785678</div>
						<div class="adr"><span class="bq">家里</span>十里堡甲3号都会国际大厦5楼十里堡甲3号都会国际大厦5楼</div>
					</div>
					<div class="r">
						<div class="del">
							<div class="del_img">删除</div>
						</div>
					</div>
				</div>
			</div>
			<div class="mr ord_d">
				<div class="details">
					<div class="l">
						<div class="name">某某某</div>
						<div class="phone">13456785678</div>
						<div class="adr"><span class="bq">家里</span>十里堡甲3号都会国际大厦5楼十里堡甲3号都会国际大厦5楼</div>
					</div>
					<div class="r">
						<div class="del">
							<div class="del_img">删除</div>
						</div>
					</div>
				</div>
			</div>
			<div class="mr ord_d">
				<div class="details">
					<div class="l">
						<div class="name">某某某</div>
						<div class="phone">13456785678</div>
						<div class="adr"><span class="bq">家里</span>十里堡甲3号都会国际大厦5楼十里堡甲3号都会国际大厦5楼</div>
					</div>
					<div class="r">
						<div class="del">
							<div class="del_img">删除</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>