<html>
<head>
<meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="telephone=no" name="format-detection">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<!--[if lt IE 9]> 
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> 
<![endif]--> 
<title>个人中心</title>
<link href="../css/common.css" rel="stylesheet" type="text/css">
<link href="../css/my.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="top_bar">
	<div class="back"><div class="back_img">返回</div></div>
    <div class="c_word">个人中心</div>
</div>
<div class="content">
	<div class="my_top">
    	<div class="img"><img src="../images/mrtx.png"></div>
        <div class="word">
        	<span>昵称昵称昵称</span><br><span>15087654673</span>
        </div>
    </div>
    <div class="wb_line first_line">
    	<div class="l">我的订单</div>
        <div class="r"><div class="next"><div class="next_img">&nbsp;</div></div></div>
    </div>
    <div class="wb_line">
    	<div class="l">我的收货地址</div>
        <div class="r"><div class="next"><div class="next_img">&nbsp;</div></div></div>
    </div>
    <div class="wb_line">
    	<div class="l">我的优惠券</div>
        <div class="r"><span class="wcol_red nu">5</span><div class="next"><div class="next_img">&nbsp;</div></div></div>
    </div>
    <div class="wb_line first_line">
    	<div class="l">客服电话</div>
        <div class="r"><div class="word wcol_red">4008-000-917</div></div>
    </div>
    
    <div class="bot_line">
    	<div class="w100 input_btn"><input class="big_btn bg_color1" type="button" value="退出登录"></div>
    </div>
</div>
</body>
</html>
