<html>
<head>
<meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="telephone=no" name="format-detection">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<!--[if lt IE 9]> 
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> 
<![endif]--> 
<title>我的订单</title>
<link href="../css/common.css" rel="stylesheet" type="text/css">
<link href="../css/my.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="top_bar">
	<div class="back"><div class="back_img">返回</div></div>
    <div class="c_word">我的订单</div>
    <div class="r_word"><div class="home_img">&nbsp;</div></div>
</div>
<div class="content">
	<div class="top_list">
    	<li class="wcol_red"><span>全部订单</span><i>聚方便</i></li>
        <li><span>待付款</span><i>聚方便</i></li>
        <li><span>送货中</span><i>聚方便</i></li>
        <li class="border_none"><span>已完成</span><i>聚方便</i></li>
    </div>
    <!--订单状态 待付款 开始 -->
    <div class="order">
    	<div class="order_zt">
        	<div class="l wcol_red">待付款</div>
            <div class="r">2014-11-11 12:10</div>
        </div>
        <div class="order_img">
        	<!-- 需做判断 最多显示3张图片 已用css隐藏多余部分 :)  -->
            <div class="l">
                <img src="../images/pr.png">
                <img src="../images/pr.png">
                <img src="../images/pr.png">
            </div>
            <div class="r">
            	<div class="wcol_red">¥38.0</div>
                <div class="wcol_gray">共3份</div>
            </div>
        </div>
        <div class="order_btn">
        	<div class="l">线上支付（微支付）</div>
            <div class="r">
            	<div class="wcol_red">立即支付</div>
                <div class="wcol_blue">取消订单</div>
            </div>
        </div>
    </div>
    <!--订单状态 待付款 结束 -->
    <!--订单状态 待处理 开始 -->
    <div class="order">
    	<div class="order_zt">
        	<div class="l wcol_red">待处理</div>
            <div class="r">2014-11-11 12:10</div>
        </div>
        <div class="order_img">
            <div class="l">
                <img src="../images/pr.png">
                <img src="../images/pr.png">
                <img src="../images/pr.png">
            </div>
            <div class="r">
            	<div class="wcol_red">¥38.0</div>
                <div class="wcol_gray">共3份</div>
            </div>
        </div>
        <div class="order_btn">
        	<div class="l">线上已支付/货到付款</div>
            <div class="r">
                <div class="wcol_blue">取消订单</div>
            </div>
        </div>
    </div>
    <!--订单状态 待处理 结束 -->
    <!--订单状态 配送中 开始 -->
    <div class="order">
    	<div class="order_zt">
        	<div class="l wcol_red">配送中</div>
            <div class="r">2014-11-11 12:10</div>
        </div>
        <div class="order_img">
            <div class="l">
                <img src="../images/pr.png">
                <img src="../images/pr.png">
                <img src="../images/pr.png">
            </div>
            <div class="r">
            	<div class="wcol_red">¥38.0</div>
                <div class="wcol_gray">共3份</div>
            </div>
        </div>
        <div class="order_btn">
        	<div class="l">线上已支付/货到付款</div>
            <div class="r">
            	<div class="wcol_red">确认收货</div>
                <div class="wcol_blue">取消订单</div>
            </div>
        </div>
    </div>
    <!--订单状态 配送中 结束 -->
    <!--订单状态 已完成 开始 -->
    <div class="order">
    	<div class="order_zt">
        	<div class="l wcol_red">已完成</div>
            <div class="r">2014-11-11 12:10</div>
        </div>
        <div class="order_img">
            <div class="l">
                <img src="../images/pr.png">
                <img src="../images/pr.png">
                <img src="../images/pr.png">
            </div>
            <div class="r">
            	<div class="wcol_red">¥38.0</div>
                <div class="wcol_gray">共3份</div>
            </div>
        </div>
        <div class="order_btn">
        	<div class="l">线上支付</div>
            <div class="r">
            	<div class="word">实付¥38.0</div>
            </div>
        </div>
    </div>
    <!--订单状态 已完成 结束 -->
    <!--订单状态 已取消 开始 -->
    <div class="order">
    	<div class="order_zt">
        	<div class="l wcol_red">待付款</div>
            <div class="r">2014-11-11 12:10</div>
        </div>
        <div class="order_img">
            <div class="l">
                <img src="../images/pr.png">
                <img src="../images/pr.png">
                <img src="../images/pr.png">
            </div>
            <div class="r">
            	<div class="wcol_red">¥38.0</div>
                <div class="wcol_gray">共3份</div>
            </div>
        </div>
        <div class="order_btn">
        	<div class="l">3小时未支付自动取消</div>

        </div>
    </div>
    <!--订单状态 已取消 结束 -->
</div>
</body>
</html>
