<html>
<head>
<meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="telephone=no" name="format-detection">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<!--[if lt IE 9]> 
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> 
<![endif]--> 
<title>我的优惠券</title>
<link href="../css/common.css" rel="stylesheet" type="text/css">
<link href="../css/my.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="top_bar">
	<div class="back"><div class="back_img">返回</div></div>
    <div class="c_word">我的优惠券</div>
</div>
<div class="content">
	<div class="line">
    	<div class="w56 input_bg"><input class="ip_text" type="text" placeholder="请输入优惠券编码"></div>
        <div class="w33"><input class="ip_btn bg_color1" type="submit" value="验证"></div>
    </div>
    <div class="yhq">
    	<div class="l"></div>
        <div class="m">
        	<div class="time">有效期：2015.03.31-2015.4.16</div>
            <div class="price">¥5</div>
            <div class="bianma">[32AJ32PPCB9G]</div>
            <div class="lx">不限</div>
            <div class="xz">仅支持线上支付</div>
        </div>
        <div class="r"></div>
    </div>
    <div class="yhq">
    	<div class="l"></div>
        <div class="m">
        	<div class="time">有效期：2015.03.31-2015.4.16</div>
            <div class="price">¥5</div>
            <div class="bianma">[32AJ32PPCB9G]</div>
            <div class="lx">不限</div>
            <div class="xz">仅支持线上支付</div>
        </div>
        <div class="r"></div>
    </div>
    <div class="clear_name">已失效优惠券</div>
    <div class="yhq sx">
    	<div class="l"></div>
        <div class="m">
        	<div class="time">有效期：2015.03.31-2015.4.16</div>
            <div class="price">¥5</div>
            <div class="bianma">[32AJ32PPCB9G]</div>
            <div class="lx">不限</div>
            <div class="xz">仅支持线上支付</div>
        </div>
        <div class="r"></div>
    </div>
    <div class="yhq sx1">
    	<div class="l"></div>
        <div class="m">
        	<div class="time">有效期：2015.03.31-2015.4.16</div>
            <div class="price">¥5</div>
            <div class="bianma">[32AJ32PPCB9G]</div>
            <div class="lx">不限</div>
            <div class="xz">仅支持线上支付</div>
        </div>
        <div class="r"></div>
    </div>
</div>
</body>
</html>
