<html>
<head>
<meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="telephone=no" name="format-detection">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<!--[if lt IE 9]> 
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> 
<![endif]--> 
<title>新增优惠券</title>
<link href="../css/common.css" rel="stylesheet" type="text/css">
<link href="../css/my.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="top_bar">
	<div class="back"><div class="back_img">返回</div></div>
    <div class="c_word">新增优惠券</div>
</div>
<div class="content">
	<div class="line">
    	<div class="w56 input_bg"><input class="ip_text" type="text" placeholder="请输入优惠券编码"></div>
        <div class="w33"><input class="ip_btn bg_color1" type="submit" value="验证"></div>
    </div>
</div>
<div class="tc_box" style="display:none">
	<div class="ts">
    	<div class="t_word">优惠券验证成功</div>
        <div class="t_btn">确定</div>
    </div>
	<div class="bg_back"></div>
</div>
<div class="tc_box" style="display:none">
	<div class="ts">
    	<div class="t_word wcol_red">优惠劵验证失败!<br>此处提示失败原因</div>
        <div class="t_btn">确定</div>
    </div>
	<div class="bg_back"></div>
</div>
</body>
</html>
