<html>
<head>
<meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="telephone=no" name="format-detection">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<!--[if lt IE 9]> 
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> 
<![endif]--> 
<title>新增收货地址</title>
<link href="../css/common.css" rel="stylesheet" type="text/css">
<link href="../css/my.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="top_bar">
	<div class="back"><div class="back_img">返回</div></div>
    <div class="c_word">收货地址</div>
    <div class="r_word">新增</div>
</div>
<div class="content">
	<div class="wb_line first_line">
    	<div class="title">姓名：</div>
        <div class="input">
        	<input class="ip_text" type="text" placeholder="请填写收货人姓名">
        </div>
    </div>
    <div class="wb_line">
    	<div class="title">电话：</div>
        <div class="input"><input class="ip_text" type="text"></div>
    </div>
    <div class="wb_line first_line">
    	<div class="title">收货地址：</div>
        <div class="input">
        	<select class="min_select" name="select">
            	<option>北京市</option>
                <option>不知道</option>
            </select>
            <select class="min_select" style="float:right" name="select">
            	<option>朝阳区</option>
                <option>不知道</option>
            </select>
        </div>
    </div>
    <div class="wb_line">
    	<div class="title">门牌号：</div>
        <div class="input">
        	<input class="ip_text" type="text" placeholder="xx栋xx楼xx室">
        </div>
    </div>
    <div class="wb_line first_line">
    	<div class="title">地址类型：</div>
        <div class="input">
        	<select class="all_select" name="select">
            	<option>家庭</option>
                <option>不知道</option>
            </select>
        </div>
    </div>
    <div class="moren">
    	<input id="mmmr" class="checkbox" type="checkbox"><label for="mmmr">设为默认地址</label>
    </div>
    <div class="bot_line">
    	<div class="w100 input_btn"><input class="big_btn bg_color1" type="button" value="保存并使用"></div>
    </div>
</div>
</body>
</html>
