<html>
<head>
<meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="telephone=no" name="format-detection">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<!--[if lt IE 9]> 
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> 
<![endif]--> 
<title>订单详情－已完成</title>
<link href="../css/common.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="top_bar">
	<div class="back"><div class="back_img">返回</div></div>
    <div class="c_word">订单详情</div>
    <div class="r_word"><div class="home_img"></div></div>
</div>
<div class="content">
	<div class="order_zt zt3">
		<div class="zt_img">
            <div class="zt_word1">下单成功<br>12:10</div>
            <div class="zt_word2">配送中<br>12:20</div>
            <div class="zt_word3">已完成<br>12:30</div>
        </div>
        <div class="w_word">
        	<div class="l">祝您购物愉快，欢迎下次光临</div>
        </div>
    </div>
    <div class="wb_line1 first_line ps">
    	<div class="l">配送人：某某某<br>电话：13456876789</div>
        <div class="word">送达时间： 2015-03-12  12:10</div>
    </div>
    <div class="wb_line1">
    	<div class="mr ord_d">
        	<div class="top_bg">&nbsp;</div>
            <div class="details">
                <div class="l">
                    <div class="name">某某某</div>
                    <div class="phone">13456785678</div>
                    <div class="adr"><span class="bq">家里</span>十里堡甲3号都会国际大厦5楼十里堡甲3号都会国际大厦5楼</div>
                </div>
                
            </div>
        </div>
        <div class="orddd">
        	<div class="l">配送要求</div>
            <div class="r">尽快送达</div>
        </div>
        <div class="orddd">
        	<div class="l">备注</div>
            <div class="r">到了直接电话联系</div>
        </div>
    </div>
    <div class="wb_line first_line">
    	<div class="l">选购商品</div>
        <div class="r wcol_red pr12">微信支付</div>
    </div>
    <div class="wb_line1">
    	<div class="img"><img src="../images/pr.png"></div>
        <div class="word">
        	<div class="name">品客薯片 酸乳酪洋葱味</div>
            <div class="gg">71g/桶</div>
        </div>
        <div class="price">
        	<div class="wcol_red">￥14.8</div>
            <div class="nu">×2</div>
        </div>
    </div>
    <div class="wb_line1">
    	<div class="img"><img src="../images/pr.png"></div>
        <div class="word">
        	<div class="name">品客薯片 酸乳酪洋葱味</div>
            <div class="gg">71g/桶</div>
        </div>
        <div class="price">
        	<div class="wcol_red">￥14.8</div>
            <div class="nu">×2</div>
        </div>
    </div>
    <div class="wb_line1 hj">
    	<div class="l">
        	共2件商品<br>优惠<br>配送费<br>实付款
        </div>
        <div class="r">
        	<span class="wcol_gray">合计：￥38.4<br>-￥10<br>￥5</span><br>￥38.4
        </div>
    </div>
    <div class="w100">
    	<div class="l_word">
    	订单编号：1343543545<br>下单时间：2014-11-11  12:10
        </div>
        
    </div>
    <div class="fffff">&nbsp;</div>
    
</div>
</body>
</html>
