<html>
<head>
<meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="telephone=no" name="format-detection">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<!--[if lt IE 9]> 
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> 
<![endif]--> 
<title>取消订单</title>
<link href="../css/common.css" rel="stylesheet" type="text/css">
<link href="../css/my.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="top_bar">
	<div class="back"><div class="back_img">返回</div></div>
    <div class="c_word">取消订单</div>
</div>
<div class="content">
	<div class="cancel_w">请选择取消订单的原因</div>
    <div class="wb_line1">
    	<div class="cancel">
    	<input type="radio" id="cancel1" name="cannel" checked><label for="cancel1">选错商品</label>
    	</div>
        <div class="cancel">
    	<input type="radio" id="cancel2" name="cannel" ><label for="cancel2">不想买了</label>
    	</div>
        <div class="cancel">
    	<input type="radio" id="cancel3" name="cannel" ><label for="cancel3">填错收货信息</label>
    	</div>
        <div class="cancel">
    	<input type="radio" id="cancel4" name="cannel" ><label for="cancel4">长时间没配送</label>
    	</div>
        <div class="cancel cancel1">
    	<input type="radio" id="cancel5" name="cannel"><label for="cancel5">其他</label>
        <textarea name="" cols="" rows="" class="pub_textarea" placeholder="请填写订单备注信息"></textarea>
        </div>
    </div>
  <div class="line">
    	<div class="w100 input_btn"><input class="big_btn bg_color1" type="button" value="确定"></div>
    </div>
        
</div>
</body>
</html>
