<html>
<head>
<meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="telephone=no" name="format-detection">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<!--[if lt IE 9]> 
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> 
<![endif]--> 
<title>星巴克1元红包</title>
<link href="../css/hongbao4.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="bg1">
    <div class="bg4">
    	<div class="name">
        	您已成功领取优惠券礼包， 可在本来便利APP上使用！  
        </div>
        <div class="button">
        	<input type="button" class="input_sub" value="立即使用">
        </div>
    </div>
    <div class="bg3">
    <div class="bg_top"></div>
    <div class="bg_c">
            <div class="yhq">
            	<div class="bg_left"></div>
            	<div class="bg_center">
                	<div class="l">星巴克</div>
                    <div class="r">
                        <div class="yhqname">专用券(免运费)</div>
                        <div class="time">2015.08.18-2015.08.31</div>
                    </div>
                </div>
                <div class="bg_right"></div>
            </div>
            
           
        </div>
        <div class="bg_bottom"></div>
        </div>
    <div class="word_logo mtb20px"><img src="../images/hongbao3/word_logo.png"></div>
</div>
</body>
</html>
