<html>
<head>
<meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="telephone=no" name="format-detection">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<!--[if lt IE 9]> 
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> 
<![endif]--> 
<title>星巴克1元红包</title>
<link href="../css/hongbao4.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="bg1">
	
    <div class="bg2">
    	<div class="name">
        	<span class="title">输手机号，可领取</span>
			<span class="yhq_name">1元购星巴克</span>
        </div>
        <div class="input">
        	<input type="tel" class="input_tel" placeholder="请输入手机号">
        </div>
        <div class="button">
        	<input type="submit" class="input_sub" value="领取">
        </div>
        <div class="word">配送区域：北京市五环内以及石景山、上地、回龙观、天通苑、北苑、东坝、管庄、通州、亦庄。</div>
    </div>
    <div class="guize">
    	<h3>活动规则：</h3>
        <p>1.兑换商品：1瓶281ML星巴克咖啡饮料（口味随机）。<br>
2.兑换时间为：8月18日- 8月31日（每天10:00-18:00）。<br>
3.兑换区域：仅限北京五环以内、通州、亦庄、石景山、天通苑、回龙观、上地、北苑、管庄、东坝可参与此活动。<br>
4.每个手机号仅限领取一次优惠券。<br>
5.支付条件：线上支付。<br>
6.每次下单仅限使用一个优惠券，优惠券不可叠加使用。<br>
7.活动期间每天仅限前10000名用户在本来便利进行兑换，10000名以后以后的用户需次日进行兑换。<br>
8.此次兑换为“本来便利新客礼品”，之前参与过其他兑换活动的用户，将不可参与此次兑换。<br>
9.最终解释权归本来便利所有。

</p>
    </div>
    <div class="word_logo mtb20px"><img src="../images/hongbao3/word_logo.png"></div>
</div>
<div class="tanceng" style="display:none">
	<div class="tc"><img src="../images/hongbao2/gif.gif"></div>
    <div class="black"></div>
</div>
</body>
</html>
